.fluid-container {
	@include span (12);
	background: #979ca3;
	position: fixed;
	.isi {
		@include container(1140px);
		li {
			text-decoration: none;
			list-style-type: none;
		}
	}
}

.containt {
	@include container (1140px);
	padding-top:50px;

	.row {
		@include span(12)
		background-color: white;
		border: 2px solid black;
		.col-3 {
			@include span(3);
			border-right: 2px solid black;
		}
		.bio {
			@include span(9);
		}
	}

	.karya {
		@include span(12 nest)
		ul {
			padding:0;
			li {
				@include span(4)
				border: 2px solid black;
				list-style-type: none;
				height: 300px;
				border-collapse: collapse;
			}
		}
	}
}

// .gambar {
// 	@include span(12 nest);
// 		background: url("/gambar/kus.jpg");
// 		min-height: 100vh;
// 	// background: green;
// 		background-position: bottom right;
// 		background-repeat: no-repeat;
// 		background-color:rgb(219, 219, 219);
// 		p {
// 			// width: 100%;
// 			padding-left: 0px;
// 			// background-color: red;
// 		}
// 		h1 {
// 			// width: 100%;
// 		}

// 	@include susy-breakpoint($tablet-size){
// 		background-size: auto 100%;
// 		background-position: bottom right;
// 		// background-color: red;
// 		// background-repeat: no-repeat;
// 		p {
// 			width: 100%;
// 		}
// 		h1 {
// 			width: 100%;
// 		}
// 	}
// 	@include susy-breakpoint($desktop-size){
// 		background-size: 100% auto;
// 		background-position: bottom;
// 		background-repeat: no-repeat;
	
// 		p {
// 		text-align: justify;
// 		width: 50%;
// 		float: right;
// 		// padding-top: 50px;
// 		padding-left: 150px;
// 		text-indent: 50px;
// 		// background-color: black;
// 	}
// 	h1 {
// 		text-align: center;
// 		width: 50%;
// 		float: right;
// 	}
// 	}

// }
.back {
	position: fixed;
	bottom:12px;
	right:12px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	border-radius: 20px;
	a {
		text-decoration: none;
		color: black;
	}
}