.tampilan {
	.deskop {
		h1 {
			margin-top: 0;
			padding-top: 20px;
			text-align: center;
		}
		p {
			text-align: justify;
			text-align-last: center;
			padding: 20px;
			background-color:rgba(50, 118, 145, 0.7);
			color: white;
			border-radius: 20px;
			margin: 0 30px;
		}
	}
	.hp{
		h1 {
			text-align: center;
			margin-bottom: 0;
		}
		p {
			text-align: justify ;
			text-align-last: center;
			padding: 10px 20px;
			margin: 0;
			background-color: rgba(47, 52, 79, 0.5);
			color: white;
			border-radius: 20px;			
		}
	}

	.tablet{
		h1 {
			text-align: center;
			bottom: 250px;
			position: absolute;
			padding-left: 300px;
		}
		p {
			text-align: justify ;
			text-align-last: center;
			position: fixed;
			bottom: 0;
			margin: 10px;
			background-color: rgba(107, 116, 119, 0.5);
			padding: 20px;
			font-size: 20px;
			border-radius: 20px;
			color: white;
		}
	}
	@include span(12 nest);
	min-height:100vh;
	background: url(/gambar/freedivetop.jpg);
	background-position: center;
	.deskop{
		display: none;
	}
	.tablet {
		display: none;
	}
	.hp {
		display: block;
	}
	@include susy-breakpoint($tablet-size){
		background: url(/gambar/maxresdefault.jpg);
		.deskop{
			display: none;
		}
		.tablet{
			display: block;
		}
		.hp {
			display: none;
		}
	}
	@include susy-breakpoint($desktop-size){
		background: url(/gambar/free.jpg);
		min-height: 100vh;
		background-size: 100% auto;
		.deskop{
			display: block;
		}
		.tablet {
			display: none;
		}
		.hp {
			display: none;
		}
	}
}