.unor {
	@include span(12 nest)
	padding: 0;
	margin: 0;
	li {
		@include span(2.4)
		list-style-type: none;
		text-align: center;
		padding-top: 50px;
		color: rgba(66, 134, 244, 0.8);
		text-shadow: 2px 2px 2px red;
	}
}
.kolom {
	@include container(1450px)
	padding: 0;
	// margin: 30px 0;
	// background-color: red;
	li {
		@include span(2)
		list-style-type: none;
		text-align: center;
		background-color: black;
		margin: 20px;
		color: rgb(239, 245, 255);
		padding: 40px;
		border-radius: 50px 0;
		width: 200px;
		height: 200px;	
		i {
			padding: 20px;
		}
	}
	li:hover {
		color: red;
		border-radius: 170px 0;
		transition: 0.5s;
	}
}

.kolom2 {
	@include container(570px)
	padding:30px;
	// margin:200px;
	// margin: 0 span(0.45);
	// background-color: black;
	.kol {
		@include span(4);
		margin: 20px;
		text-align: center;
		padding: 30px;
		// border: 2px solid #c9e5c7;
		border-radius: 75px;
		// background-color: #184714;
		color: black;
		width: 150px;
		height: 150px;
	}
	.kol:hover {
		transition: 1s;
		// border-radius: 50%;
		color: white;
		background-color: black;
	}
}

.anyar {
	@include container(1000px)
	width: 1000px;
	.isyana {
		position: absolute;
	}
	.tua {
		position:absolute;
		// display: none;
		transition: 2s;
		opacity: 0;
	}
}
.anyar:hover {
	.tua {
		// display: block;
		opacity: 1;
	}
}