.link {
	.linknavico {
		position: absolute;
		transition: 1s;
		opacity: 1;
		margin-left: 130px;
		margin-top: 100px;
	}
	.linknav {
		color: red;
		position: absolute;
		// display: none;
		margin-left: 290px;
		transition: 1s;
		opacity: 0;
		// margin-top: 100px;
	}
}

.link:hover {
	.linknavico{
		// display: none;
		// transition: 1s;
		opacity: 0;
	}
	.linknav {
		// display: block;
		opacity: 1;
		margin-left: 100px;
		margin-top: 100px;
		font-size: 50px;
		color: black;
	}
}

.navheader {
	background: black;
	position: fixed;
	top:0;
	left:0;
	right: 0;
	.brand {
	@include span(12 nest);
		// @include span(12)
		text-align: center;
	}
	.trigger {
		@include span(12);
		text-align: center;

	}
	.trigger2 {
		@include span(12);
		text-align: center;
		display: none;
	}
	.navigation {
	@include span(12 nest);
	i {
		display: inline-block;
		// background: red;
		border-radius: 50%;
		margin-bottom: 5px;
		color: red;
	}
		ul {
			list-style-type: none;
			text-align: center;
			padding: 0;
			margin: 10px;
			display: none;
			// display: inline-block;
			li {
				border-bottom: 1px solid red;
				color: red;
				// display: inline-block;
				margin: 3px;
			}
		}
	}
	@include susy-breakpoint($desktop-size) {
		background: red;
		.brand {
			@include span(6);
			float: left;
			text-align: left;
		}
		.navigation {
			@include span(6);
			i {
				display: none;			
				// display: inline-block;
				float: left;
			}
			ul {
				text-align: right;
				margin: 5px;
				display: block;
				float: right;
				li {
					display: inline-block;
					padding: 5px;
					color: white;
					border: 2px solid white;
					border-radius: 5px;
				}
			}
		}
	}
}

.navcontaint {
	height: 2000px;
}